%div{:class => "#{(comment.parent.nil? ? "comment" : "subcomment")}"}
  %div
    = comment.body
  %div{:class => "note"}
    Comment by
    = link_to comment.user.username, "/s/#{comment.user.username}"
    = "(#{time_ago_in_words(comment.created_at)} ago)"
    = link_to "Delete", product_comment_path(@product, comment), :method => :delete, :confirm => "Are you sure?"
    - unless comment.parent
      = link_to "Reply", "#", :class => "reply"
      %span.toogle
        = link_to "Collapse", "#"
    %div.clear
  - if comment.has_children?
    - comment.children.each do |subcomment|
      = render :partial => "comment", :locals => {:comment => subcomment}
  - unless comment.parent
    %div.subcomment
      = render :partial => "new", :locals => {:commentable => @product, :parent_id => comment.id}