%div{:class => "#{(comment.parent.nil? ? "comment" : "subcomment")}", :id => "comment#{comment.id}"}

  %div
    = comment.body
  = render :partial => "note", :locals => {:comment => comment}
  - if comment.has_children?
    - comment.children.each do |subcomment|
      = render :partial => "comment", :locals => {:comment => subcomment}
  - if current_user && !comment.parent
    %div.subcomment.reply{:style => "display:none"}
      = render :partial => "new", :locals => {:commentable => @product, :parent_id => comment.id}