%div.note{:id => "note#{comment.id}"}
  commented by
  = link_to comment.user.username, "/s/#{comment.user.username}"
  = "(#{time_ago_in_words(comment.created_at)} ago)"
  路
  = pluralize(comment.upvotes.size, "like")
  - if current_user
    路
    - text = (current_user.voted_as_when_voted_for(comment) ? "Unlike" : "Like")
    = link_to text, vote_product_comment_path(comment.commentable, comment), :class => "vote", :remote => true
  - if current_user && !comment.parent
    路
    = link_to "Reply", "#", :class => "reply"
  - if current_user && current_user.is_admin
    路
    = link_to "Delete", product_comment_path(@product, comment), :method => :delete, :confirm => "Are you sure?"
  %div.clear