.half
  = image_tag @product.images.first.image(:medium)
  #inline-content
    .slideshow
      - @product.images.each do |image|
        = link_to image_tag("#{ProjectConfig.value('site_url')}#{image.image(:thumbnail)}"), "#{ProjectConfig.value('site_url')}#{image.image.url}", |
          :class=>"change_gallery colorbox-gallery"
.half
  %table.zebra
    %tr
      %td Price
      %td
        - if @product.on_discount?
          %strong.strikethrough= number_to_currency(@product.price)
          %strong{:style=>"font-size: 14px"}= number_to_currency(@product.discounted_price)
        - else
          %strong{:style=>"font-size: 14px"}= number_to_currency(@product.price)
    - if @product.options.count > 0
      %tr
        %td{:colspan=>2}
          = render :partial=>'products/options'
    %tr
      %td{:colspan=>2}
        = hidden_field_tag "cart[quantity]", 1, :size=>5
        .right
          - unless @demo
            = submit_tag "Buy this Item", :class=>"greenBtn"
  = raw @product.description
.clear