= form_for :cart, :url=>"#{ProjectConfig.value('site_url')}#{add_to_cart_path(@product)}" do |f|
  - if @product.customized_widget?
    = raw compile_template
    - unless @demo
      = f.submit "Add to Cart", :class=>"greenBtn"
  - else
    = render 'product_widgets/default_view'
  