- if @product.deleted?
  %h3
    Product has been deleted by Hapful.com
- else
  = form_for :cart, :url=>"#{ProjectConfig.value('site_url')}#{add_to_cart_path(@product)}" do |f|
    / customized widget disabled for now; use default always
    /- if @product.customized_widget?
    /  = raw compile_template
    /  - unless @demo
    /    = f.submit "Add to Cart", :class=>"greenBtn"
    /- else
    /  = render 'product_widgets/default_view'
    = stylesheet_link_tag 'application'
    = render 'product_widgets/default_view'
  