= content_header("Custom Email")
  
.table
  %table
    %tr
      %th Email for
      %th Subject
      %th Template
      %th{:colspan=>3} Options

    - @custom_emails.each do |email|
      %tr
        %td= email.identifier
        %td= email.subject
        %td= "#{email.template[0..9]}..."
        %td
          = link_to 'Show', [:admin, email]
          \|
          = link_to 'Edit', [:edit, :admin, email]
%br