= @message
= form_tag url_for([:update_password, current_user]) do
  %p
    Old Password
    %br
    = password_field_tag "old_password"
  %p
    New Password
    %br
    = password_field_tag "password"
  %p
    New Password Confirmation
    %br
    = password_field_tag "password_confirmation"
  = submit_tag "Change Password", :class=>"greenBtn"