%table.zebra
  %thead
    %tr
      %th Order Date
      %th State
      %th Payment State
      %th Transaction Reference
      %th Payment via
      %th Shipping Method
      %th Options
  - orders.recent.each do |order|
    %tr
      %td= order.created_at.strftime('%D')
      %td= order.state.humanize
      %td= order.payment_state.humanize
      %td= order.reference_number
      %td= order.payment_method_name
      %td= order.shipping_method_name
      %td{:style=>'font-size: 80%'}
        = link_to "View Details", order
        \|
        = link_to "Mark Completed", change_state_order_url(order, :state=>'complete')
        \|
        = link_to "Cancel"