= nested_form_for @order, :url=>build_order_path(:merchant=>params[:merchant]) do |f|
  .halfcolright
    = render :partial=>"shared/form_errors", :locals=>{:object=>f.object}
    %table
      %tr
        %td Email
        %td= f.email_field :email
    %hr
    = f.fields_for :billing_address do |billing|
      %table
        %tr
          %td First Name
          %td= billing.text_field :first_name
        %tr
          %td Last Name
          %td= billing.text_field :last_name
        %tr
          %td Street
          %td= billing.text_field :street_1
        %tr
          %td City
          %td= billing.text_field :city
        %tr
          %td State
          %td= billing.text_field :state
        %tr
          %td Postal Code
          %td= billing.text_field :postal_code
        %tr
          %td Country
          %td= billing.text_field :country
    - dif_ship = !f.object.shipping_address.nil?
    %p
      = f.check_box :different_address, |
        {:onclick=>"$('#shipping-address').slideToggle(); $('#order_shipping_address_attributes_diff_add').val($('#order_different_address').is(':checked'))"}
      %label Shipping Address is different from billing address
    #shipping-address{:style=>"display: #{f.object.different_address? ? 'block' : 'none'}"}
      = f.fields_for :shipping_address do |shipping|
        %table
          %tr
            %td First Name
            %td= shipping.text_field :first_name
          %tr
            %td Last Name
            %td= shipping.text_field :last_name
          %tr
            %td Street
            %td= shipping.text_field :street_1
          %tr
            %td City
            %td= shipping.text_field :city
          %tr
            %td State
            %td= shipping.text_field :state
          %tr
            %td Postal Code
            %td= shipping.text_field :postal_code
          %tr
            %td Country
            %td= shipping.text_field :country
        = shipping.hidden_field :diff_add, :value=>f.object.different_address?
  .half
    %h4 Review your order
    = render :partial=>'carts/cart_per_seller', :locals=>{:cart=>@cart_for_seller, :seller=>@seller}
    %h4 Select Shipping Method
    %table
      - @order.available_shipping_options_for(@cart_for_seller).each_with_index do |shipping_option, i|
        %tr
          %td
            = f.radio_button :shipping_method_id, shipping_option.id, |
              :checked=>i==0
            = shipping_option.name
            (
            = shipping_option.is_free? ? 'FREE' : number_to_currency(shipping_option.humanized_amount)
            )
    = f.submit "Place Order", :class=>"greenBtn"
  .clear