%h3
  Order Reference Number
  = @order.reference_number

%table
  %tr
    %td
      Buyer
    %td
      = @order.email
  %tr
    %td Payment State
    %td= @order.payment_state.humanize
  %tr
    %td State
    %td= @order.state.humanize

%h5 Items
%table.zebra
  %thead
    %tr
      %th Product Name
      %th Product Variant
      %th Quantity
  - @order.items.each do |item|
    %tr
      %td
        = item.name
      %td= item.description
      %td= item.quantity