- form_tag '/search', :method=>:get do
  #search-products
    %p
      %strong
        Search Products
      = text_field_tag 'search[keyword]', params[:keyword],:size=>'40%'
      = select_tag "search[category]", options_for_select(Category.all.collect{|ca| [ca.name, ca.id]})
      = submit_tag "Search", :class=>'greenBtn'
      = link_to 'Advance Options', '/', {:style=>"font-size: 10px; color: #777"}

#categories.quarter
  %h5 Categories
  %ul
    - Category.roots.each do |category|
      %li
        = link_to category.name, by_category_path(category)
      .sub{:style=>"display: none"}
        - category.children.each do |child|
          = link_to_function child.name, ''
          %br

.thirds
  .ui-tabs
    %ul
      %li= link_to "Top Rated Products", "#top-rated"
      %li= link_to "Newest", "#newest"
      %li= link_to "Most Viewed", "#most-viewed"
    #top-rated
      %h3 Top Rated Products
      - @top_rateds.each do |top_rated|
        = render :partial=>'shared/product_image', :locals=>{:product=>top_rated}
      .clear
    #newest
      %h3 Newest Products
      - @newly_addeds.each do |product|
        = render :partial=>'shared/product_image', :locals=>{:product=>product}
      .clear
    #most-viewed
      %h3 Most Viewed Products
      - @most_viewed.each do |product|
        = render :partial=>'shared/product_image', :locals=>{:product=>product}
      .clear
.clear