= nested_form_for @product, :url=>"", :html=>{:class=>"", :multipart=>true} do |f|
  %fieldset.form
    %legend
      %strong USER DETAILS
    - if @user.new_record?
      = fields_for @user do |uf|
        = render :partial=>'shared/form_errors', :locals=>{:object=>@user}
        %table
          %tr
            %td
              Email
              %br
              = uf.email_field :email
            %td
              Username
              %br
              = uf.text_field :username
          %tr
            %td
              Password
              %br
              = uf.password_field :password
            %td
              Password Confirmation
              %br
              = uf.password_field :password_confirmation
    - else
      .infobox
        Thank you for registering. You can login to your account or complete this form.
      %p
        Email:
        %strong= @user.email
      %p
        Username:
        %strong= @user.username
      
      
  %br
  %br
  = render :partial=>'shared/form_errors', :locals=>{:object=>@product}
  #product-details
    = render :partial=>'products/product_fields', :locals=>{:f=>f}
  = submit_tag "Save", :class=>'greenBtn'
