%h4
  Products ordered from
  = seller.username
%table
  %thead
    %tr
      %th Product
      %th Price
      %th Quantity
      %th Total
  - total_amount = 0.0
  - cart.each do |item|
    %tr
      %td
        = item[:product].name
        - if !item[:product_option_id].blank?
          = "(#{item[:variant].description})"
      %td
        = number_to_currency(item[:product].effective_price)
        - if !item[:product_option_id].blank?
          = "(+#{number_to_currency(item[:variant].additional_cost)})"
      %td
        %span{:pv=>item[:product_option_id]}
          - ret_url = params[:controller]=='orders' ? checkout_path(seller.username) : '/my-cart'
          = link_to_function "+", |
            "change_quantity('#{add_to_cart_path(item[:product].slug)}', '#{ret_url}', '#{item[:product_option_id]}', 'up')", |
            {:class=>"greenCharBtn"}
        = text_field_tag "item[quantity]", item[:quantity], :style=>'width: 50px; text-align: right'
        %span{:pv=>item[:product_option_id], :mv=>'down'}
          = link_to_function "-", |
            "change_quantity('#{add_to_cart_path(item[:product].slug)}', '#{ret_url}', '#{item[:product_option_id]}', 'down')", |
            {:class=>"greenCharBtn"}
      %td
        - item_amount = item[:quantity] * (item[:product].effective_price + item[:variant].additional_cost )
        - total_amount += item_amount
        = number_to_currency(item_amount)
  %tr
    %td{:colspan=>3}
      %strong.right TOTAL
    %td
      %strong{:style=>"font-size: 16px"}= number_to_currency(total_amount)

- unless params[:controller] == 'orders'
  - if params[:demo]
    DEMO purposes
  - else
    - if params[:cbed]
      = link_to "CHECKOUT",'#', :class=>"greenBtn", :onclick=>"window.top.location.href = '#{ProjectConfig.value('site_url')}#{url_for(checkout_path(seller.username))}';"
      = link_to "Continue Shopping", '#', :onclick=>"$('#product-trigger').trigger('click')"
    - else
      = link_to "Checkout cart for #{seller.username}", checkout_path(seller.username), :class=>"redBtn"
      = link_to "Continue Shopping", market_path