%h4 REVIEW YOUR ORDER
%h5 Order Details
%strong
  Payable to
  = @order.seller.email
%table.zebra
  %thead
    %tr
      %th Product
      %th Price
      %th Quantity
      %th Amount
  - @order.items.each do |item|
    %tr
      %td= "#{item.name} #{item.description.nil? ? '' : '('+item.description+')' }"
      %td= item.product.effective_price
      %td= item.quantity
      %td= item.calculated_price
  %tr
    %td{:colspan=>3}
      %strong.right TOTAL
    %td
      %strong= @order.subtotal_amount
%h5 Billing Address
%table
  %tr
    %td Name
    %td= @billing.full_name
  %tr
    %td Address
    %td= @billing.complete_address
%h5 Shipping Address
%table
  %tr
    %td Name
    %td= @shipping.full_name
  %tr
    %td Address
    %td= @shipping.complete_address

%hr
%h4 Payment Method
= form_for :payment, :url=>do_payment_checkout_path do |f|
  - @order.seller.payment_types.each do |payment_type|
    = f.radio_button :method, payment_type.name, :checked=>payment_type.checks_for_merchant_account?
    = payment_type.name
    %br
  = submit_tag 'Submit', :class=>'greenBtn'