= nested_form_for @product, :html=>{:class=>"", :multipart=>true} do |f|
  .nav_link
    = link_to "<< Back to Dashboard", '/my-dashboard'
  %br
  = render :partial=>'shared/form_errors', :locals=>{:object=>@product}
  %h2
    Edit Product
    .right
      - if !@product.state.eql?("published")
        = f.submit 'Save as Draft', :class=>"whiteBtn"
        = f.submit 'Save and Publish', :class=>"greenBtn"
      - else
        = f.submit 'Update', :class=>"greenBtn"
  .clear
  %fieldset
    %table.zebra
      %tr
        %td{:colspan=>4}
          %strong Product Title
          %br
          = f.text_field :name, :size=>'95%'
      %tr
        %td{:style=>"width: 30%"}
          %strong Category
        %td
          = f.select :category_id, Category.all.collect{|category| [category.name, category.id]}
        %td
          %strong Quantity
        %td
          = f.text_field :quantity, :size=>'8'
      %tr
        %td{:style=>"width: 30%"}
          %strong Price
        %td
          = f.text_field :price, :size=>'8'
        %td{:colspan=>2}
          = f.check_box :on_discount, :onclick=>"$('#discount').toggle()"
          %strong
            = f.label :on_discount, 'Place item on discount'
      %tr{:id=>'discount', :style=>"#{f.object.on_discount? ? '' : 'display: none' }; width: 100%"}
        %td{:style=>"width: 30%"}
          %strong Discounted Price
        %td{:colspan=>3}= f.text_field :discounted_price, :size=>'8'
      %tr
        %td{:colspan=>4}
          %strong Description
          %br
          = f.text_area :description, :cols=>'95%', :rows=>'5'
  %br
  .halfcolright
    %fieldset.form{:style=>"min-height: 150px"}
      %legend
        %strong IMAGES
      = f.fields_for :images do |image_form|
        - if image_form.object.new_record?
          = image_form.file_field :image
        - else
          = image_tag image_form.object.image(:thumbnail)
        = image_form.link_to_remove image_tag("close.png")
      %strong= f.link_to_add "Add Image", :images
  .half
    %fieldset.form{:style=>"min-height: 150px; width: 100%"}
      %legend
        %strong VARIANTS
      = f.fields_for :options do |option_form|
        %div{:style=>"border: 1px solid #095D92; background: #FFF; margin-bottom: 5px"}
          %table
            %tr
              %td
                %strong Description
              %td{:colspan=>2}= option_form.text_field :description
            %tr
              %td
                %strong Quantity
              %td= option_form.text_field :quantity, :size=>8
              %td= option_form.link_to_remove image_tag("close.png")
      .clear
      %strong= f.link_to_add "Add Variant", :options
  .clear
  %br
  #widget
    %fieldset.form
      %legend
        %strong WIDGET
      = f.fields_for :widget do |widget_f|
        %table
          %tr
            %td{:colspan=>2}
              = f.check_box :customized_widget, :onclick=>"$('#customized_widget').toggle()"
              %strong
                = f.label :customized_widget, 'Let me customize my widget'
        %table{:id=>"customized_widget", :style=>"display: #{ f.object.customized_widget? ? 'block' : 'none' }"}
          %tr
            %td{:colspan=>2}
              = widget_f.check_box :embedded
              %strong
                = widget_f.label :embedded, 'Place widget on webpage instead of showing as a link'
          %tr
            %td
              %strong
                = widget_f.label :title, 'Link Label'
            %td= widget_f.text_field :title
    .right
      - if !@product.state.eql?("published")
        = f.submit 'Save as Draft', :class=>"whiteBtn"
        = f.submit 'Save and Publish', :class=>"greenBtn"
      - else
        = f.submit 'Update', :class=>"greenBtn"
    .clear
