= nested_form_for @product, :html=>{:class=>"", :multipart=>true} do |f|
  .nav_link
    = link_to "<< Back to Dashboard", '/my-dashboard'
  %br
  = render :partial=>'shared/form_errors', :locals=>{:object=>@product}
  %h2
    = f.object.new_record? ? 'Add' : 'Edit'
    Product
    .right
      - if @product.new_record?
        = f.submit 'Save and Publish', :class=>"greenBtn"
      - else
        = f.submit 'Update', :class=>"greenBtn"
  .clear
  #details
    = render :partial=>'product_fields', :locals=>{:f=>f}
  .right
    - if @product.new_record?
      = f.submit 'Save and Publish', :class=>"greenBtn"
    - else
      = f.submit 'Update', :class=>"greenBtn"
  .clear
