- if current_user
  %br
  .ui-tabs.ui-widget.ui-widget-content.ui-corner-all{:style=> "padding:10px;"}
    .list_comment
      %h3 Comments
      - if commentable.root_comments.size > 0
        - commentable.root_comments.each do |comment|
          %div{:style => "border-top: 1px dashed gray; padding: 10px;"}
            %div
              = comment.body
            %span{:style => "color: grey;"}
              Comment by
              = link_to comment.user.username, "/s/#{comment.user.username}"
              = "#{time_ago_in_words(comment.created_at)} ago)"
      - else

    .new_comment{:style=> "margin-top:20px;"}
      %h3 Leave a Comment
      = form_for([commentable, Comment.new]) do |f|
        = f.hidden_field 'commentable_type', :value => commentable.class.name
        = f.hidden_field 'commentable_id', :value => commentable.id
        .label Comment
        .field= f.text_area :body, :cols => 50, :rows => 5
        = f.submit "Post Comment"