#widget
  %fieldset.form
    = f.fields_for :widget do |widget_f|
      / not needed anymore
      /%table
      /  %tr
      /    %td{:colspan=>2}
      /      = f.check_box :customized_widget, :onclick=>"$('#customized_widget').toggle()"
      /      %strong
      /        = f.label :customized_widget, 'Let me customize my widget'
      = f.hidden_field :customized_widget, :value=>true
      - widget_f.object.embedded = true if widget_f.object.new_record?
      %table{:id=>"customized_widget"}
        %tr
          %td{:colspan=>2}
            = widget_f.radio_button :embedded, true, :id=>'embed-true', :onclick=>"$('#widget-label').attr('disabled', true);"
            %strong= widget_f.label :embedded, 'Display product directly in blog', |
            :onclick=>"$('#embed-true').click();", :style=>"cursor: pointer"
            %br
            %br
            = widget_f.radio_button :embedded, false, :id=>'embed-false', :onclick=>"$('#widget-label').removeAttr('disabled');"
            %strong= widget_f.label :embedded, 'Display product in blog post using link that says', |
            :onclick=>"$('#embed-false').click();", :style=>"cursor: pointer"
            = widget_f.text_field :title, :id=>'widget-label', :disabled=>widget_f.object.embedded?