.right
  - if current_user.incomplete_merchant_details?
    Please update your merchant details before creating a product.
  - else
    = link_to "Add New Product", [:new, :product], :class=>"greenBtn"
.clear
%br
#list
  %table.zebra
    %thead
      %tr
        %th Name
        %th
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td
          = link_to 'Widget', [:edit, product, product.widget]
          \|
          = link_to 'Edit', edit_product_path(product)
          \|
          = link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete