- if @product.belongs_to?(current_user)
  %h3
    = link_to "Products", products_path
    >
    = @product.name
  .ui-tabs
    %ul
      %li= link_to "Details", "#details"
      %li= link_to "Logistics", "#logistics"
      /%li= link_to "Widget Customization", "#widget" //NOTE: disabled for now
    = render 'show_details'
    = render 'show_logistics'
    /= render 'show_widget_customization' //NOTE: disabled for now
- else
  = render 'products/buyer_view'
= render :partial => 'products/new_comment', :locals => {:commentable => @product}
  
