.table
  %table
    %tr
      %td= link_to "Users", admin_users_path
    %tr
      %td= link_to "Products & External Posts", admin_products_path
    %tr
      %td= link_to "Categories", admin_categories_path
    %tr
      %td= link_to "Articles", admin_articles_path
    %tr
      %td= link_to "Payment Types", admin_payment_types_path
    %tr
      %td= link_to "Shipping Options", admin_shipping_options_path
    %tr
      %td= link_to "Project Configurations", admin_project_configs_path