!!! DOCTYPE html
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en" }
  %head
    = csrf_meta_tag
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'typography'
    = stylesheet_link_tag 'admin'
    %title
      Hapful Administration Page
  %body
    